* {
  max-width: 100%;
  color: white;
  margin: 0;
}

body {
  background-color: #4c4c4c;
}

.container {
  max-width: 960px;
}

#myInput {
  /* background-image: url("images/search.png"); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: black;
}

h3 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding-bottom: 5px;
}

p {
  text-align: center;
  padding: 0;
}

li {
  display: inline;
  list-style: none;
}

.row_skills {
  text-align: center;
}

.row_skills li:not(:last-child)::after {
  content: ", ";
}

.row {
  margin: 0;
}

img.icon {
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 80px;
  position: relative;
  left: 20px;
}

.col-4 {
  padding: 0;
}

.rating {
  margin: 0;
  text-align: left;
}

.map {
  min-width: 40px;
}

.skills {
  margin-top: 10px;
}

.row_tooltip {
  position: relative;
  display: block;
  /* border-bottom: 1px dotted white; */
  text-align: center;
  margin-bottom: 15px;
}

.row_tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  font-size: 13px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 200px;
  top: 100%;
  left: 50%;
  margin-left: -100px;
}

.row_tooltip:hover .tooltiptext {
  visibility: visible;
}

#overflow {
  padding: 15px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

button {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: #9cfcb7;
  color: black;
  text-align: center;
}

.contact {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* Midium Screen */
@media (min-width: 600px) and (max-width: 900px) {
  .contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 300px;
  }
}

/* Large Screen */
@media (min-width: 901px) {
  .contact-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 300px;
  }
}
